body {
    background-color: #4e81adad; /* Alice Blue */
}

div.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

div.inner_row {
  display: flex;
  min-height: 10;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
}