body {
    background-color: #4e81adad; /* Alice Blue */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row {
    display: flex;
  }